<% layout('layout/boilerplate') %> <% let nextPage = parseInt(page) + parseInt(1); let previousPage
= parseInt(page) - parseInt(1); %>

<div class="container align-self-center row">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 g-5 g-md-4">
        <% campgrounds.forEach((campground, index) => { %> <%- include('card.ejs', { campground })%>
        <% })%>
    </div>
    <nav
        class="d-flex justify-content-center align-items-center my-5"
        aria-label="Page navigation ">
        <% if(totalPages == 0) { %>
            <p class="fs-3 text-muted">No Campground Found! &#40;╯°□°&#41;╯︵ ┻━┻</p>
        <% } else { %>
        <ul class="pagination">
            <li class="page-item <%= page == 1 ? 'disabled' : '' %>">
                <a class="page-link text-black" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <% for(let i=1; i < totalPages + 1; i++) { %>
                <li class="page-item">
                    <a class="page-link text-black <%= page == i ? "bg-light" : "" %>" href="/campgrounds/?page=<%= i %>"><%= i %></a>
                </li>    
            <% } %>
            <li class="next-page page-item <%= page == totalPages ? 'disabled' : '' %>">
                <a
                    class="page-link text-black"
                    href="/campgrounds/?page=<%= nextPage %>"
                    aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
        <% } %>
    </nav>
</div>
<!-- 
<script>
    const mapToken = "<%- process.env.MAPBOX_TOKEN %>";
    const campgrounds = { features: <%- JSON.stringify(campgrounds) %>};
</script>

<script crossorigin="anonymous" src="/javascripts/clusterMap.js"></script> -->
